.col-6 {
    margin-left: 200px;
}

.contain1 {
    width: 1240px;
}

.contain {
    background-color: whitesmoke;
    height: 1000px;
  }
  
  li {
    color: white;
  }
  
  ul {
    display: flex;
    cursor: pointer;
  }
  
  li:hover {
    color : whitesmoke;
  }
  